
.imgContainer {
  display: flex;
  gap: 40px;
  justify-content: center;

}

.imgContainer a {
   text-decoration: none;
   color: black;
   margin-top: -15px;
}

.imgContainer a:hover {
  opacity: 0.9;
  font-size: 500px;
}

.imgContainer p {
  color: black;
  font-size: 18px;
  margin-left: 50px;
}

.contactDirect {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
.hr {
    color: black;
    width: 450px;
    margin-left: 350px;
}


