.title {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.linea {
  color: black;
  width: 450px;
  margin-left: 350px;
}


@media screen and (max-width: 768px) {
  .linea {
   margin-left: -20px;
    width: 400px;
    
  

  }
}
