.redesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons {
  color: black;
  height: 30px;
  width: auto;
}

.icons:hover {
  opacity: 0.6;
}

@media screen and (max-width: 740px) {
  .icons {
    height: 20px;
    width: auto;
    margin-left: -20px;
  }
}
